@use '../../presets/' as *;
.content {
  margin: 20px 20px;
  display: grid;
  grid-template-areas:
    'heading heading heading'
    'section1 section2 section3';
  grid-template-rows: auto 1fr;
  grid-template-columns: 3fr 5fr 2fr;
  gap: 20px;

  @media (max-width: 1024px) {
    grid-template-areas:
      'heading heading'
      ' section1 section1'
      'section2 section3';
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 4fr 2fr;
  }
  @media (max-width: 768px) {
    grid-template-areas:
      'heading '
      ' section1'
      'section2'
      'section3';
    grid-template-columns: auto;
  }
  &__h2 {
    grid-area: heading;
    font-size: 2rem;
  }
  &__section1 {
    grid-area: section1;
    @extend %article;
    border: solid 2px red;
  }
  &__section2 {
    grid-area: section2;
    @extend %article;
    background-color: aquamarine;
    border: solid 2px blue;
  }
  &__section3 {
    grid-area: section3;
    @extend %article;
    background-color: chartreuse;
  }
}
