@use '../../presets/' as *;

.slider-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 20px;
  &__track {
    display: flex;
    width: 100%;
  }

  &__image {
    height: 100%;
    min-width: 100%;
    position: relative;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    .slider__prev-control,
    .slider__play-pause-control,
    .slider__next-control {
      opacity: 1;
    }
  }

  &__prev-control {
    @extend %include-slider-controls;
    left: 20px;
    transform: translateY(-50%);
  }
  &__play-pause-control {
    @extend %include-slider-controls;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__next-control {
    @extend %include-slider-controls;
    right: 20px;
    transform: translateY(-50%);
  }
  &__prev-icon {
    @include background-svg('../assets/svg/prev.svg');
  }
  &__play-icon {
    @include background-svg('../assets/svg/play.svg');
  }
  &__pause-icon {
    @include background-svg('../assets/svg/pause.svg');
  }
  &__next-icon {
    @include background-svg('../assets/svg/next.svg');
  }
  &__top-left-control {
    position: absolute;
    top: -50px;
    left: 10%;
    transform: translateX(-50%);
  }

  &__top-right-control {
    position: absolute;
    top: -50px;
    left: 90%;
    transform: translateX(-50%);
  }
}
