.header {
  position: relative;
  background-color: darkgrey;
  background-image: url(https://picsum.photos/id/26/4209/2769);
  background-size: cover;
  background-position: center;
  height: 100vh;
 
}
a {
  color:White;
  text-decoration: none;
}