@use "../../presets/" as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(124, 127, 127, 0.8);
  border-bottom: 0.5px solid rgb(168, 165, 165);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7%;
  opacity: 0;
  animation: TitleFadeIn 1s ease-in-out forwards;
  transition: transform 0.7s ease-in-out;

  @include media("ul") {
    height: 10%;
  }

  @include media("sm", "max", "height") {
    height: 20%;
  }

  &.hidden {
    transform: translateY(-100%);
  }

  &.visible {
    transform: translateY(0);
  }

  &__list-main {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  &__link {
    @include button-styles();
  }

  &__User {
    @include button-styles();
    position: relative;

    &:hover &-container-menu {
      @include moving-menu-trigger();
    }
  }

  &__icon-user {
    @include background-svg("../assets/svg/user.svg", 25px, 25px);
  }

  &__User-container-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 15px;
    top: 100%;
    left: 10px;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 10;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;

    & button {
      @include button-styles();
    }
  }
}
