.content__section1, .content__section2, .content__section3 {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 1.3rem;
  border: solid 2px green;
  align-items: center;
}

.container {
  width: min(100% - 40px, 1110px);
  margin-inline: auto;
}
.container--sm {
  width: min(100% - 40px, 540px);
  margin-inline: auto;
}

.main-container {
  background-color: aqua;
  position: relative;
  height: 350vh;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
  border: solid 2px red;
  font-size: clamp(2rem, 5vw, 10rem);
}

.content {
  margin: 20px 20px;
  display: grid;
  grid-template-areas: "heading heading heading" "section1 section2 section3";
  grid-template-rows: auto 1fr;
  grid-template-columns: 3fr 5fr 2fr;
  gap: 20px;
}
@media (max-width: 1024px) {
  .content {
    grid-template-areas: "heading heading" " section1 section1" "section2 section3";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 4fr 2fr;
  }
}
@media (max-width: 768px) {
  .content {
    grid-template-areas: "heading " " section1" "section2" "section3";
    grid-template-columns: auto;
  }
}
.content__h2 {
  grid-area: heading;
  font-size: 2rem;
}
.content__section1 {
  grid-area: section1;
  border: solid 2px red;
}
.content__section2 {
  grid-area: section2;
  background-color: aquamarine;
  border: solid 2px blue;
}
.content__section3 {
  grid-area: section3;
  background-color: chartreuse;
}

.pictures {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://picsum.photos/id/26/4209/2769");
  height: 100vh;
  width: 100%;
}

.header {
  position: relative;
  background-color: darkgrey;
  background-image: url(https://picsum.photos/id/26/4209/2769);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

a {
  color: White;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.navbar__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 50px;
}
.navbar__list-main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.navbar__list-user {
  display: flex;
  justify-content: end;
  gap: 50px;
}
.navbar__item-main {
  list-style: none;
  font-size: 1.5rem;
}
.navbar__item-user {
  list-style: none;
}
.navbar__link-user {
  background-image: url(../assets/svg/user.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 25px;
  list-style: none;
}
.navbar__link-cart {
  background-image: url(../assets/svg/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 25px;
  list-style: none;
}
.navbar__link-todos {
  background-image: url(../assets/svg/todos.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 25px;
  list-style: none;
}
.navbar__link-comment {
  background-image: url(../assets/svg/comment.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 25px;
  list-style: none;
}

.title {
  position: absolute;
  font-size: 4rem;
  color: rgb(183, 213, 61);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title__container {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.title__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(73, 67, 67, 0.7);
  width: 45%;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(183, 213, 61);
  border: solid 2px rgb(183, 213, 61);
  border-radius: 10px;
}

.logo {
  margin-left: 50px;
  font-size: 1.4rem;
}
.logo__main {
  padding: 10px;
  margin-right: 3px;
  border: 3px solid red;
  border-radius: 10px;
}

.footer {
  background-color: green;
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
