@use '../presets/' as *;

@mixin background-svg($path, $width, $height,) {
  background-image: url(#{$path});
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: $width;
  height: $height;
  list-style: none;
}

// @mixin media($size, $type: "max", $dimension: "width") {
//   $bp: map-get($breakpoints, $size);

//   @if $bp {
//     @if $type == "max" {
//       @media (max-#{$dimension}: #{$bp - 0.2px}) { @content; }
//     } @else if $type == "min" {
//       @media (min-#{$dimension}: #{$bp}) { @content; }
//     } @else {
//       @error "Invalid media query type: #{$type}. Use 'max' or 'min'.";
//     }
//   } @else {
//     @error "Breakpoint #{$size} not found!";
//   }
// }
