%article {
  background-color: orange;
  display: flex; 
  flex-direction: column;
  justify-content:space-evenly;
  padding: 1rem;
  font-size: 1.3rem;
  border: solid 2px green;
  align-items: center;
}
